In [ ]:
import pandas as pd

# Load Excel file
path = 'C:/Users/mozulkifli/Downloads/'
excel_file = 'jp_tax_num.xlsx'  # Replace with your filename


# Read the Excel file
df = pd.read_excel(path + excel_file)

In [6]:
# Extract the ID list (dropna in case of blank cells)
id_list = df['CUSTOMER_NUMBER'].dropna().astype(str).tolist()

In [2]:
df.head()

,CUSTOMER_NUMBER,K_NAME,(As is)\nTAX_TYPE,(As is)\nTAX_NUM,Allocation
0,1558780,ＮＯＢＵＮＡＧＡ Ｒａｉｓｅ Ｆｕｎｄ投資事業有限責任組合,JP3,4200001038486,Ziqry
1,1551453,日野市立病院,JP3,1000020132128,Ziqry
2,1557808,米ドル建て日系社債投資ファンド２０２０－１０（適格機関投資家専用）,JP3,9010401137051,Ziqry
3,1559356,ＵＳリートＥＴＦファンド２０２１－０９（適格機関投資家専用）,JP3,9010401137051,Ziqry
4,1560092,ＳＭＴ ＭＩＲＡＩｎｄｅｘ 総合,JP3,8010001114914,Ziqry

In [19]:
# Generate the SQL 'LIKE' conditions
like_conditions = " OR\n  ".join([f"PARTNER LIKE '%{id}'" for id in id_list])

# Wrap it in a full SQL query
sql_query = f"SELECT * FROM SAP.DFKKBPTAXNUM WHERE \n  {like_conditions};"

# Print the generated query
print("Generated SQL query:\n")
print(sql_query)

Generated SQL query:

SELECT * FROM SAP.DFKKBPTAXNUM WHERE
  PARTNER LIKE '%1558780' OR
  PARTNER LIKE '%1551453' OR
  PARTNER LIKE '%1557808' OR
  PARTNER LIKE '%1559356' OR
  PARTNER LIKE '%1560092' OR
  PARTNER LIKE '%1560152' OR
  PARTNER LIKE '%1560161' OR
  PARTNER LIKE '%1559035' OR
  PARTNER LIKE '%1551812' OR
  PARTNER LIKE '%1558245' OR
  PARTNER LIKE '%1560211' OR
  PARTNER LIKE '%1558460' OR
  PARTNER LIKE '%1557751' OR
  PARTNER LIKE '%1558832' OR
  PARTNER LIKE '%1560052' OR
  PARTNER LIKE '%1557434' OR
  PARTNER LIKE '%1559855' OR
  PARTNER LIKE '%1553600' OR
  PARTNER LIKE '%1558288' OR
  PARTNER LIKE '%1557541' OR
  PARTNER LIKE '%1558221' OR
  PARTNER LIKE '%1560506' OR
  PARTNER LIKE '%1557161' OR
  PARTNER LIKE '%1557583' OR
  PARTNER LIKE '%1558384' OR
  PARTNER LIKE '%1559222' OR
  PARTNER LIKE '%1559355' OR
  PARTNER LIKE '%1560512' OR
  PARTNER LIKE '%1559415' OR
  PARTNER LIKE '%1559677' OR
  PARTNER LIKE '%1559919' OR
  PARTNER LIKE '%1560529' OR
  PARTNER LIKE '%1551875' OR
  PARTNER LIKE '%1557567' OR
  PARTNER LIKE '%1558429' OR
  PARTNER LIKE '%1558604' OR
  PARTNER LIKE '%1559030' OR
  PARTNER LIKE '%1559279' OR
  PARTNER LIKE '%1559438' OR
  PARTNER LIKE '%1560062' OR
  PARTNER LIKE '%1560301';